{% extends 'base.html' %}

{% block content %}


    <div class="card">

        <div class="card-header">
                            <!-- Back Button -->
    <div Class="fas fa-arrow-left" onclick="goBack()"></div>

   
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
           <table class="table table-typo">

                <tbody>
                    <tr>
                        <td>
                            <h4  style="font-weight: bold;">{{ emails[sender]['subject'] }}:</h4>
                            <p>&nbsp;</p>

                        <small style="font-weight: bold;"> From: {{ sender }}</small>
                        <p><small > {{ emails[sender]['body'] }}</small></p>    
                        </td>

                    </tr>
                    <tr>
                        
                        <td>
                            <small style="font-weight: bold;">Reply by: </small><small>Midoshy</small>   
                            <p><small> {{ emails[sender]['response'] }}</small></p>    

                            
                        </td>
                    </tr>
 
                </tbody>
            </table>
        </div>



    </div>
    
{% endblock %}